*~.plist
*.plist
*.iml
.idea/
build/
DerivedData
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.xcscheme
*.hmap
*.ipa
Carthage/Build
fastlane/report.xml
fastlane/screenshots
.DS_Store
.Trashes
*.swp
*.lock
*~.nib
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata/
*./xcuserspace
*./xcworkspacedata
*xcworkspace/xcuserdata/*
*/xcuserdata/*
*/UserData/*
*APIKeys.plist
APIKeys.plist
UbiqProject/APIKeys.plist
UbiqProject/*.plist
UbiqProject/Supporting Files/APIKeys.plist
UbiqProject/Supporting Files/*
*~.plist
*.plist